<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users with Templates</title>
</head>
<body>
    <h1>All the Users</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            {% for one_user in all_users %}
            <tr>
                <td>{{one_user.id}}</td>
                <td>{{one_user.first_name}} {{one_user.last_name}}</td>
                <td>{{one_user.email_address}}</td>
                <td>{{one_user.age}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>